#intro {
	width: 40%;
	float: left;
	margin: $padding;
  	padding: $padding;
  	max-width: 20em;
}

#blocks {
	float: left;
	width: 50.5%;
	padding-left: 0;
	min-height: 530px;
	.wrapper {
		p {
			font-weight: 400;
		}
		&.b {  // twitter feed
	      font-size: 20vw;
	    }
	}
}

#c {
	padding: 1em;
}

