.wrapper {
	.main & {
		position: relative;
		margin-top: $padding / 2;
	}
}

.main-info {
	position: absolute;
	left: $padding;
	top: $padding;
  	padding: $padding;
  	max-width: 20em;
}

.blocks {
	padding-left: 20em + $padding * 2;
	min-height: 530px;
}

.blocks-wrapper {
	&.b {  // twitter feed
      font-size: 20vw;
    }
}
