#main .wrapper {
	max-width: 1000px;
}

#blocks {
	width: 59%;
}

#blocks button {
	margin: 0.2em 0;
	
	&.button-icon {
		&:hover {
			.icon {
				transition: all 0.3s ease;
				opacity: 0;
			}
			.icon-hover {
				opacity: 1;
			}
		}
	}
}

