// GLOBALS //

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:focus {
		outline: none;
	}
}

body {
	font-family: $lato;
	background: $grey;
	overflow: auto;
}

h1 {
	margin: 0 0 0.5em 0;
	font-family: $lato;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.3em;
	color: $neutral;
}

h2 {
	@extend h1;
	font-size: 1.25em;
	color: $white;
	padding: 0;
	margin: 0;
}

h3 {
	color: $white;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	padding: 0.7em 1.4em;
	margin: 0;
	background-color: $teal;
	border: 0 solid black;

	&:hover, &:focus {
		background-color: lighten($teal, 10%);
		font-weight: 400;
	}
}

p {
	font-family: $lato;
	font-size: 0.9em;
	line-height: 1.6;
  	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: lighten($orange, 20%);
	&:hover {
		color: $orange;
	}
	&:active {
		color: darken($orange, 20%);
	}
	&:visited {
		color: lighten($orange, 30%);
	}
}

button { 
	color: $white;
	font-family: $lato;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	width: 100%;
	padding: 0.7em 1.4em;
	margin: 1em 0;
	background-color: $teal;
	border: 0 solid black;

	&:hover, &:focus {
		background-color: lighten($teal, 10%);
	}
}

.wrapper {
  display: block;
	margin: 0 auto;
	max-width: $page-width;
}

.divider {
  background-color: #fff;
  height: 1px;
  width: 90%;
  margin: 0 auto;
}

.hover-scale {
  transition: all 0.4s;

  &:hover {
		transform: scale(1.03, 1.03)
	}
}



// HEADER //

header {

	float: left;
	width: 100%;
	background-color: black;


	.wrapper {

		position: relative;
		max-width: 58em;
		padding: 2em;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 154px;
	}

	p {
		display: block;
		float: none;
	  margin-top: 10px;
	  margin-bottom: 0;		
		font-family: $lato; 
		font-size: 1.1em;
    line-height: 1.4em;
    text-align: center;
		color: $orange;
	}

}



// MAIN CONTENT //

#main {
	float: left;
	width: 100%;
	font-size: 1em;
}

.main-info {
    float: left;
	background-color: white;
	padding: 7% 5%;
}

#more-info ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		h3:focus {
			transition: all 0.4s;
			background-color: $orange;
			color: $white;
		}
		p {
			padding: 0.5em;
		}
	}
}

#button-rsvp {
	@extend button;
	color: $orange;
	font-family: $lato;
	font-size: 2.7em;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	padding: 0.2em 0.2em;
	margin: 0.2em 0;
	background-color: $white;
	border: 2px solid $orange;

	&:hover, &:focus {
		background-color: lighten($orange, 10%);
		border-color: lighten($orange, 10%);
		color: $white;
	}

	&:active {
		background-color: darken($orange, 10%);
		border-color: darken($orange, 10%);
		color: $white;
	}
}



// OTHER CONTENT BLOCKS //

#blocks {
  float: left;
  width: 100%;
	padding: 5%;
	margin: 0 auto;
	color: $white;
	min-height: auto;
}

.blocks-wrapper {
	float: left;
	width: 100%;

	h3 {
		text-align: left;
		padding: 0.3em;
		margin: 0;

		&:hover, &:focus, &:active {
			background-color: lighten($teal, 10%);
			font-weight: 400;
		}
	}

	p {
		font-weight: 400;
		text-align: left;
		padding: 0 10%;
		a {
			font-weight: 400;
		}
	}

	button {
		margin: 0.2em 0;
		&:focus {
			background-color: $orange;
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		text-align: center;
		float: left;
		width: 100%;
		overflow: hidden;
		margin: 0 0 5% 0;
    position: relative;
		
    &.a, &.b {
      width: 49%;
      height: 0;
      padding-bottom: 50%;
		}

    &.a {  // venue
      margin-right: $swatch-margin / 2;
      background-color: black;
      
      img {
        width: 100%;
      } 
    }

    &.b {  // twitter feed
      margin-left: $swatch-margin / 2;
      background: $orange;
			i {
				font-size: 40vw;
				color: $white;
				padding: 0.075em 0;
			}
    }

    &.c {  // faq + links
      width: 100%;
      background: $teal;
      padding: 1em;
      text-align: center;
      margin-bottom: 0;
    }
	}
}

#twitter, #faq, #links {
	ul {
		display: none;
	}
}



// FOOTER //

footer {
	@extend header;
	float: right;

	.wrapper {
		padding: 0 2em 2em;
	}

	// icons //
	.icons {
		color: $white;
		width: 100%;
		padding: 0.2em 0;

		p {
			margin: 0.2em;
			float: left;
		}

		li {
			font-size: 2em;
	    display: inline-block;
			width: 40px;
			float: right;
			padding: 0 1em;
			color: $orange;
	    &:hover {
	      color: lighten($orange, 20%);
	    }
		}

		a {
			color: $orange;
			&:hover {
	      color: lighten($orange, 20%);
	    }
		}
	}
}

