// COLOR PALETTE
$teal: #13A89E;
$orange: #FF9900;
$white: #ffffff;
$neutral: black;
$highlight: $teal;

// FONT
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;
$oswald: 'Oswald', Arial, sans-serif;
$lato: 'Lato', Arial, sans-serif;

// LENGTHS
$page-width: 100%;
$page-width-fallback: 960px;
$padding: 2em;
$swatch-margin: 2%;

// OTHER
$num-colors: 3;